.wp-custom-header {
    position: relative;

    iframe {
        width: 100%;
    }
    .wp-custom-header-video-button {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 62px;
        height: 50px;
        font: 0px/0 a;
        -moz-transition: all 0.5s; 
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        &:before {
            content: '\f04b';
            display: block;
            font-family: FontAwesome;
            font-size: 20px;
        }

        &.wp-custom-header-video-pause{
            &:before{
                content: '\f04c';
            }
        }
    }
    &:hover{
        .wp-custom-header-video-button {
            visibility: visible;
            opacity: 1;
        }
    }
}