@import "custom-mixing/custom-mixing";

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Top Header
--------------------------------------------------------------*/
@import "header/top-header";

/*--------------------------------------------------------------
## Middle Header
--------------------------------------------------------------*/
@import "header/middle-header";

/*--------------------------------------------------------------
## Bottom Header
--------------------------------------------------------------*/
@import "header/bottom-header";

/*--------------------------------------------------------------
## Header-cart-popup
--------------------------------------------------------------*/
@import "header/header-cart-popup";

/*--------------------------------------------------------------
## Menu
--------------------------------------------------------------*/
@import "header/menu";

/*--------------------------------------------------------------
## Header cart popup css
--------------------------------------------------------------*/
@import "header/search-user";

/*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/
@import "header-media/header-media";

/*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/
@import "slider/slider";

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## section-title
--------------------------------------------------------------*/
@import "section/section-title";
/*--------------------------------------------------------------
## men-collection
--------------------------------------------------------------*/
@import "section/men-collection";
/*--------------------------------------------------------------
## thumb-collection
--------------------------------------------------------------*/
@import "section/thumb-collection";
/*--------------------------------------------------------------
## about
--------------------------------------------------------------*/
@import "section/about";
/*--------------------------------------------------------------
## featured-collection
--------------------------------------------------------------*/
@import "section/featured";
/*--------------------------------------------------------------
## index-blog
--------------------------------------------------------------*/
@import "section/index-blog";

/*--------------------------------------------------------------
# Tags
--------------------------------------------------------------*/
@import "tags/tags";

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
@import "footer/footer";

/*--------------------------------------------------------------
# Inner Pages
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
@import "blog/blog";

/*--------------------------------------------------------------
## products
--------------------------------------------------------------*/
@import "products/collection";

/*--------------------------------------------------------------
## products collection
--------------------------------------------------------------*/
@import "products/single-product";

/*--------------------------------------------------------------
## products collection
--------------------------------------------------------------*/
@import "products/woocommerce-sidebar";

/*--------------------------------------------------------------
## cart
--------------------------------------------------------------*/
@import "inner-page/cart";

/*--------------------------------------------------------------
## Wishlist
--------------------------------------------------------------*/
@import "inner-page/wishlist";

/*--------------------------------------------------------------
## Info
--------------------------------------------------------------*/
@import "inner-page/info";

/*--------------------------------------------------------------
## checkout
--------------------------------------------------------------*/
@import "inner-page/checkout";

/*--------------------------------------------------------------
# 404
--------------------------------------------------------------*/
@import "inner-page/404";
