.theme-review-notice .links {
	margin: 10px 0;
}

.theme-review-notice .links a {
	height: auto;
	padding: 3px 15px;
	margin-left: 10px;
	text-transform: uppercase;
}

.theme-review-notice .links a .dashicons {
	line-height: 1.2;
}

.theme-review-notice .links a.button-primary {
	margin-left: 0;
}

.estore-message {
	overflow: hidden;
	position: relative;
	border: 10px solid #97d2e7 !important;
}

.estore-message-wrapper {
	width: 500px;
	text-align: center;
	margin: 0 auto;
	padding: 50px 0;
}

.estore-message-wrapper .submit {
	text-align: center;
	padding-top: 25px;
}

.submit a.btn-get-started:before {
	margin: 0 4px 3px 0;
	vertical-align: middle;
}

.estore-message a.button-primary,
.estore-message a.button-secondary {
	text-decoration: none !important;
}

.estore-message a.estore-message-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 15px 10px 21px;
	font-size: 13px;
	line-height: 1.23076923;
	text-decoration: none;
}

.estore-message a.estore-message-close:before {
	position: absolute;
	top: 8px;
	left: 0;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

.estore-message-wrapper .plugin-install-notice {
	display: block;
	font-size: 12px;
	margin: 10px 0 0;
}

.wrap .estore-header {
	background-color: #fff;
	padding: 12px 20px;
	border-bottom: 1px solid #ccd0d4;
	margin-left: -20px;
	margin-right: -20px;
}

.appearance_page_estore-options .wrap {
	margin-top: 0;
}
