$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #00A9E0;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #00A9E0;
$color__link-visited: #0191BC;
$color__link-hover: #0191BC;
$color__text-main: #333333;
$color__text-dark: #454545;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color_default: #00A9E0;
$color_default_hover: #0191BC;

$color_featured: #ffc300;
$color_featured_hover: #e2ae04;
