.woocommerce-page ul.products {
    li.product{
        padding: 0;
        text-align: center;
        .products-img {
            margin: 0;
            padding: 0;
            border: 1px solid #e1e1e1;
            text-align: center;
            position: relative;
            img {
                display: block;
                margin: 0;
            }
            .products-hover-wrapper {
                background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 9;
                opacity: 0;
                visibility: hidden;
                @include transition(all 0.5s ease);
                .products-hover-block {
                    position: absolute;
                    left: 0;
                    top: 52%;
                    @include transform(translateY(-50%));
                    text-align: center;
                    width: 100%;
                    @include transition(all 0.5s ease);
                    opacity: 0;
                    visibility: hidden;
                    a {
                        border: 1px solid #fff;
                        color: #fff;
                        display: inline-block;
                        height: 40px;
                        width: 40px;
                        margin: 0 5px;
                        background: none;
                        font: 0/0 a;
                        border-radius: 0;
                        vertical-align: top;
                        padding: 0;
                        &:hover {
                            background: $color_default_hover;
                            border-color: $color_default_hover;
                        }
                        i {
                            font-size: 16px;
                            line-height: 36px;
                            margin-left: 0;
                        }
                    }
                    a.added_to_cart{
                    	position: relative;
                    	&:after{
                    		content: "\f06e";
                    		font-family:FontAwesome;
                    		top: 50%;
                    		left: 50%;
                		 	@include transform(translate(-50%,-50%));
                		 	position: absolute;
                		 	color: #ffffff;
                		 	font-size: 16px;
                    	}
                    }
                }
                &:hover .products-hover-block {
                    top: 50%;
                    opacity: 1;
                    visibility: visible;
                }
            }
            &:hover .products-hover-wrapper {
                opacity: 1;
                visibility: visible;
            }
        }
        .products-title {
            font-size: 15px;
            margin: 20px 0 0;
            padding: 0;
            a {
                color: $color__text-dark;
                &:hover {
                    color: $color_default_hover;
                }
            }
        }
        .star-rating {
            display: inline-block;
            float: none;
            font-size: 14px;
            margin: 15px 0 5px;
            color: $color__link;
        }
        .price {
            display: block;
            font-size: 14px;
            color: #333;
            .price-text {
                font-weight: 600;
            }
            del {
                color: #94978f;
                margin-left: 3px;
                display: inline-block;
            }
            .amount {
                background: none;
                margin-left: 3px;
            }
            ins {
                color: $color__link;
                background: none;
                display: inline-block;
                font-weight: 400;
            }
        }
        .yith-wcwl-add-to-wishlist {
            text-align: center;
            .add_to_wishlist.button.alt,
            .yith-wcwl-wishlistexistsbrowse a,
            .yith-wcwl-wishlistaddedbrowse a {
                background: $color_default none repeat scroll 0 0;
                border-radius: 25px;
                color: #ffffff;
                display: inline-block;
                font-weight: 600;
                padding: 5px 20px;
                margin: 5px 0 15px;
                height: 34px;
                line-height: 24px;
                &:hover {
                    background: $color_default_hover;
                }
                i {
                    margin: 0;
                    margin-left: 5px;
                }
            }
            .add_to_wishlist.button.alt:after,
            .yith-wcwl-wishlistexistsbrowse a:after,
            .yith-wcwl-wishlistaddedbrowse a:after {
                content: "";
                display: table;
                clear: both;
            }
            .feedback {
                display: block;
                color: $color__link;
                display: none;
            }
            img.ajax-loading {
                display: none !important;
            }
        }
    }
}
