#content {
    .widget_shopping_cart {
        .product_list_widget {
            .mini_cart_item {
                border: 1px solid #e1e1e1;
                margin: 0 auto 15px;
                padding: 10px;
                width: 96%;
                .remove {
                    top: 10px;
                    right: 10px;
                }
            }
        }
    }
}

.woocommerce.widget_price_filter {
    .price_slider_wrapper {
        .ui-widget-content {
            background: #E6E6E6;
            margin-bottom: 30px;
            .ui-slider-range,
            .ui-slider-handle {
                background: $color__link;
            }
            .ui-slider-handle {
                border-radius: 0;
                width: 20px;
                height: 20px;
                @include transform(rotate(45deg));
                top: 50%;
                margin-top: -10px;
                &:before {
                    content: "\f07e";
                    font-family: FontAwesome;
                    color: #ffffff;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    @include transform(translate(-50%, -50%) rotate(-45deg));
                }
            }
        }
        .price_slider_amount {
            .price_label {
                font-size: 14px;
            }
        }
    }
}

.woocommerce .widget_layered_nav_filters ul li {
    float: none;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
    a {
        color: #333;
        &:hover {
            color: $color__link-hover;
        }
    }
}

.widget_product_search input[type="search"] {
    width: 73%;
}

.woocommerce-product-search input {
    display: block;
    float: left;
    height: 40px;
    margin-bottom: 40px;
    width: 27%;
}

.widget.woocommerce .product-title,
.widget.woocommerce.widget_recent_reviews a{
    color: #454545;
    display: block;
    font-size: 14px;
}

.widget.woocommerce .star-rating {
    color: $color__link;
    margin: 6px 0;
}

.widget.woocommerce .product_list_widget li {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.widget.woocommerce .product_list_widget li:last-child{
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}
